@import "reset"
@import "variables"
@import "theme/theme-variables"
@import "colors"
@import "grid"
@import "icons"
@import "typography"
@import "typo-utilities"
@import "utilities"
@import "theme/header"
@import "theme/footer"
@import "theme/header-menu"
@import "theme/pages/front-page"

@import "components/alerts"
@import "components/badges"
@import "components/borders"
@import "components/buttons"
@import "components/inputs"
@import "components/tables"

@import "shortcodes/consultation"

html
  scroll-behavior: smooth

body
  background: $light-100 url('/img/ellipse.png') no-repeat

  background-position: 100% 0

