.portfolio
  margin-top: 30px
  margin-bottom: 10px
  @media (min-width: $sm)
    margin-bottom: 50px
  @media (min-width: $lg)
    margin-bottom: 25px
  @media (min-width: $xl)
    margin-top: 100px
    margin-bottom: 150px

  .portfolio__title
    font-size: 32px
    margin-bottom: 20px
    @media (min-width: $sm)
      font-size: 26px
    @media (min-width: $md)
      font-size: 70px

// СЛАЙДЕР МЕНЮ
#menu-slider
  display: flex
  flex-direction: column
  @media (min-width: $xl)
    flex-direction: row

  .menu-categories
    display: flex
    flex-direction: row
    justify-content: space-around
    @media (min-width: $xl)
      text-align: center
      flex-direction: column
      margin: auto
      width: 220px

    .menu-item-nav
      display: none
      @media (min-width: $xl)
        display: block
        margin-top: 30px
        margin-bottom: 30px
        +transition(transform)
      &:hover
        transform: scale(1.2)
        +transition(transform)

    .menu-cat__link__wrapper
      +flex-row-sb
      width: 100%
      border-bottom: 2px solid $gray-300
      padding-bottom: 10px
      @media (min-width: $md)
        padding-bottom: 0
        border-bottom: none
        flex-direction: column

      .menu-cat__link
        cursor: pointer
        +transition(color)

        &:not(:last-child)
          @media (min-width: $md)
            margin-bottom: 20px

        &:hover
          color: var(--accent)
          +transition(color)

        &.active
          font-weight: 700

  .menu-content
    display: flex
    flex-direction: column
    @media (min-width: $md)
      flex-direction: row

  .menu-photo__wrapper
    +flex-row-sb
    align-items: end
    border-radius: 6px
    @media (min-width: $md)
      background: white
      display: block
      +shadow

    .menu-desc-nav
      flex-shrink: 0
      @media (min-width: $md)
        display: none

  .menu-desc-wrapper
    @media (min-width: $xl)
      height: 100%
      display: flex
      align-items: center

  .menu-desc
    +shadow
    background: transparent
    position: relative
    z-index: 5
    left: -40px
    padding: 50px
    border-radius: 6px
    width: 100%
    @media (min-width: $xl)
      background: white

    hr
      margin-bottom: 35px
      width: 400px
      @media (min-width: $xl)
        width: auto

    .heading
      margin-bottom: 5px
      +h3
      @media (min-width: $md)
        margin: 20px auto
      @media (min-width: $xl)
        +h4

    .heading__desc
      color: $dark
      @extend .sm-text
      font-weight: 600

    .menu-desc-nav
      display: flex
      flex-direction: row
      align-items: center

      .prev, .next
        opacity: 0.5
        display: inline-block
        border: none
        background: none
        +transition(opacity)
        @media (max-width: $xl)
          display: none
        &:hover
          +transition(opacity)
          opacity: 1

      .prev
        margin-right: 9px

      .next
        margin-left: 9px

    .slide-number
      margin: auto 10px
      @extend .h5

      .current-slide
        font-weight: bold
        font-size: 31px
        @media (max-width: $sm)
          font-size: 18px

      .divider
        color: $gray-300

    .menu-desc-body
      @extend .sm-text
      font-weight: 300
      display: none
      margin-top: 30px
      @media (min-width: $xl)
        display: block
        width: 360px



