.hero
  margin-bottom: 180px
  position: relative

  .hero__title
    margin-top: 80px
    font-size: 90px
    line-height: 107px

  .hero__bg-img
    position: absolute
    right: -30px
    top: -30px

#about
  text-align: center
  margin-bottom: 100px

  h2
    font-size: 70px
    margin-bottom: 65px

  .about-desc
    +md-text
    line-height: 1.4
    color: var(--gray-500)

  .about__more
    color: var(--accent)
