.header__top
  +flex-row-sb-aic
  padding: 34px 0

  .header__top__logo
    width: 112px

  .header__top__email,
  .header__top__phone
    +sm-text
    text-decoration: none
    &:hover
      text-decoration: underline

  address
    +sm-text

  .social-links
    +flex-row-sb
    margin-bottom: 0
    padding-left: 0

    li:not(:last-child)
      margin-right: 45px
